html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    overflow:hidden
}

#index, #about-me, #projects, #contact-me {
    padding-top: 80px;
    min-height: 100%; 
}

.heading {
    font-family: 'Slabo 27px', serif;
}

/* navbar */
.nav-links {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    text-decoration: none;
}

.nav-links > a {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: #479b48;
}

nav {
    background-color: rgb(256, 256, 256);
}

.navbar {
    border-bottom: 1px solid #ffffff;
}
/* navbar */

/* leroy */
#index {
    background-image:url(../images/bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;    
}

#intro-name {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffff;
    margin-left: 35px;
    margin-right: 25px;
}
/* leroy */

/* about */
#about-me {
    background-color: #b53434;
}

#about-title {
    background-color: #b53434;
    color: #ffffff;
    margin-top: 80px;
}

#about-me > .row {
    min-height: 100%;
}

.my-image {
    border: 5px solid #ffffff;
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.personal-statement {
    margin-top: 100px;
    font-size: 1.4em;
    color: #ffffff;
}
.proficiency {
    font-weight: 800;
}
/* about */

/* projects */
#projects {
    background-color: #4369a8;
}

#projects-title {
    background-color: #4369a8;
    color: #ffffff;
    margin-bottom: 20px;
}

.app-type {
    color: #ffffff;
}
/* projects */

/* contact */
#contact-me {
    background-color: #f4428f;
}

#contact-title {
    background-color: #f4428f;
    color: #ffffff;
    margin-bottom: 50px;
}

#subject, #email, #comment {
    border-radius: 0px;
    font-size: 1.3em;
}

#subject, #email, #contact-btn {
    height: 50px;
}

#contact-btn {
    width: 80%;
    font-size: 1.4em;
    background-color: #333333;
    border: 1px solid #333333;
    color: #f4428f;
    font-weight: 600;
}

#contact-details {
    color: #ffffff;
    font-size: 1.3em;
}
/* contact */